---
import '../styles/global.css'; // Verify this path!
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Portfolio</title>
  </head>
  <body class="bg-black antialiased">
    <slot />
  </body>
</html>